 <% provide(:title, "Help") %>
  <h1>Help!!!</h1>
    <p>
      <a href= https://still-chamber-2611.herokuapp.com/ > Heroku sample_app </a>
    </p>
    <p>
      <a href= https://bitbucket.org/Aliax/sample_app > Bitbucket sample_app </a>
    </p>
    <p>
      <a href= https://www.railstutorial.org/book/static_pages#sec-slightly_dynamic_pages > Railstutorials sample_app </a>
    </p>
