<h1>Password Reset</h1>

<p>To reset password click here:

<%= link_to "reset", edit_password_reset_url(@user.reset_token, email: @user.email)%>
</p>

<p>Link expire for two hours</p>

<p>If you didn't request reset password link, ignore this email.</p>